/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Oxanium:400,500,600|Roboto&display=swap');

/* SETUP */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* END OF SETUP */







:root {
  /* COLORS */
  --primary: #2E2E2E;
  --secondary: #0F0F0F;
  --copy: #DCD9D9;
  --accent1: #6BFFFF;
  --accent2: #FF6BFF;
  --accent3: #FFFF6B;
  
  /* page padding */
  --pagePadding: 60px 0;

  /* transition */
  --transition: all 0.2s ease;

  /* copy margins */
  --copyMargin: 20px 0;
}




/* BASE STYLES */
html {
  font-size: 62.5%; /* 10px */
  
}

body {
  min-height: 100vh;
  font-size: 1.8rem;
  position: relative;
  color: var(--copy);
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary);
  background-image: linear-gradient(to bottom right, var(--primary),  var(--secondary));
  background-repeat: no-repeat;
  background-size: cover;
}
/* END OF BASE STYLES */


/* STRIPPING STYLES */
body, 
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

em {
  font-style: normal;
}
/* END OF STRIPPING STYLES */



/* GENERAL STYLES */
.wrapper {
  width: 80%;
  max-width: 2000px;
  margin: 0 auto;
}

.yellowButton {
  background-color: var(--accent3);
  color: var(--primary);
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
  font-family: 'Oxanium', sans-serif;
  border: 3px solid transparent;
  transition: var(--transition);
}
  .yellowButton:hover,
  .yellowButton:focus {
    background-color: var(--accent1);
  }
/* END OF GENERAL STYLES */



/* HEADER STYLES */
header {
  height: 10vh;
  padding-top: 10px;
}

header .flexParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Oxanium', sans-serif;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: calc(3.5rem + 2vw);
  filter: drop-shadow(3px 3px 0 var(--accent1)) drop-shadow(-3px -2px 0 var(--accent2));
}

nav ul {
  display: flex;
}

.navButton {
  background-color: transparent;
  border-bottom: 3px solid var(--copy);
  color: var(--copy);
  letter-spacing: 1px;
  padding: 10px 10px 5px;
  margin: 0 20px;
  transition: var(--transition);
}

  .navButton.homeButton:hover,
  .navButton.homeButton:focus {
    color: var(--accent1);
    border-bottom-color: var(--accent1);
  }

  .navButton.drawButton:hover,
  .navButton.drawButton:focus {
    color: var(--accent2);
    border-bottom-color: var(--accent2);
  }

  .navButton.galleryButton:hover, 
  .navButton.galleryButton:focus {
    color: var(--accent3);
    border-bottom-color: var(--accent3);
  }
/* END OF HEADER STYLES */



/* HOME STYLES */
.homeScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--pagePadding);
  
}

.homeContainer {
  width: 75%;
}

.homeScreen p {
  margin: var(--copyMargin);
}

.homeScreen em {
  color: var(--accent1);
}

.startButton {
  display: block;
  margin: 0 auto;
}

.smallCopy {
  font-size: 1.5rem;
}

.smallCopy a{
  color: var(--accent2);
}
  .smallCopy a:hover,
  .smallCopy a:focus {
    text-decoration: underline;
  }

  
/* END OF HOME STYLES */



/* DRAW STYLES */
.draw {
  padding: var(--pagePadding);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.drawCopy {
  text-align: start;
  width: 40%;
  margin-left: 60px;
}

.drawCopy p {
  margin: var(--copyMargin);
}

.drawCopy p::before {
  content: "\2022"; 
  color: var(--accent2); /* Change the color */
  font-weight: bold; 
  display: inline-block;
  width: 1em; 
  margin-left: -1em;
}

.canvasOuterContainer {
  position: relative;
}

.prompt {
  background-color: var(--secondary);
  position: absolute;
  top: 10px;
  padding: 15px 30px;
  font-size: 2.2rem;
  width: max-content;
  transform: translate(-10%, -10%);
}

.prompt em {
  color: var(--accent1);
  text-transform: uppercase;
}

.canvasInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  background: white;
  margin: 40px 0 20px;
}

.canvasButtons {
  display: flex;
}

.canvasButtons button {
  margin: 0 10px;
}

.post {
  position: relative;
}

.postModal {
  position: absolute;
  background: var(--secondary);
  color: var(--accent3);
  width: max-content;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -100%;
  padding: 10px 20px;
  transition: var(--transition);
}
/* END OF DRAW STYLES */



/* GALLERY STYLES */
.gallery {
  padding: var(--pagePadding);
}

.gallery p {
  margin: var(--copyMargin);
}

.gallery em {
  color: var(--accent3)
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.userDrawing img {
  background-color: white;
}

.userDrawing p {
  background-color: var(--secondary);
  width: max-content;
  padding: 10px 20px;
  position: relative;
  transform: translate(-10%, -50%) ;
}
/* END OF GALLERY STYLES */



/* FOOTER STYLES */
footer {
  position: fixed;
  top: calc(10vh + 60px);
}

footer ul {
  display: flex;
  flex-direction: column;
}

footer li {
  margin: 20px 10px;
}

footer a {  
  background-color: var(--accent2);
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  padding: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
  footer a:hover,
  footer a:focus {
    transform: scale(1.1);
  }
/* END OF FOOTER STYLES */


/* MEDIA QUERIES */

/* small tablet */
@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }



  /* HEADER */
  header {
    height: initial;
  }

  header .flexParent {
    flex-direction: column;
  }

  nav {
    font-size: 2.5rem;
  }


  /* HOME */
  .homeScreen p {
    text-align: justify;
  }

  .homeContainer {
    width: 100%;
  }


  /* DRAW */
  .draw {
    flex-direction: column;
  }

  .canvasOuterContainer {
    margin-top: 40px;
  }

  .prompt {
    transform: initial;
  }

  .drawCopy {
    width: 100%;
    margin: 60px 20px 0;
    text-align: justify;
  }

  /* GALLERY */
  .gallery p {
    text-align: justify;
  }


  /* FOOTER */
   footer {
    position: static;
  }

  footer ul{
    flex-direction: row;
    justify-content: center;
    
  } 

  footer a {
    padding: 15px;
    width: 50px;
    height: 50px;
  }
}


/* mobile */
@media (max-width: 480px) {
  .wrapper {
    width: 100%;
    padding: 0 20px;
  }

  /* HEADER */
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  .navButton {
    font-size: 2.5rem;
    margin: 10px;
    padding: 10px;
  }
  .navButton.homeButton {
    color: var(--accent1);
    border-bottom-color: var(--accent1);
  }
  .navButton.drawButton {
    color: var(--accent2);
    border-bottom-color: var(--accent2);
  }
  .navButton.galleryButton {
    color: var(--accent3);
    border-bottom-color: var(--accent3);
  }

  /* HOME */
  .homeScreen {
    height: initial;
    display: block;
    padding: 50px 0;
  }
}
